<!DOCTYPE html>
<html>
<head>
	<title>Messages for Mia</title>
	<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="clearfix">
	<div class="row center">
		<img src="mia.jpg" class="mb2" />
	</div>
	<div class="row">
		<div class="col col-6 pr3">
			<h1>Send Mia a Message!</h1>
			<form action="messages" method="POST">
				<div>
					<label for="email">Email</label>
					<input type="text" name="email" />
				</div>

				<div>
					<label for="text">Text</label>
					<input type="text" name="text" />
				</div><br />

				<button type="Submit">Submit</button>
			</form>
		</div>
		<div class="col col-6 pl3">
			<h1>Sent Messages:</h1>
			<ul>
				{% for message in messages %}
					<li class="mb1">"{{ message.text }}"</li>
<!-- 					<li class="mb1"><i>--from {{ message.user.email }}</i></li>
 -->				{% endfor %}
			</ul>
		</div>
	</div>
	</div>
</body>
</html>